<div class="parent">
  <div class="child">
    <div class="row">
      <div class="col-4">
        <span><h4>My Collections</h4></span>
      </div>
      <div class="col-4">
        <!-- <form class="form-inline float-right">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form> -->
        <div class="form-group has-search">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" placeholder="Search" />
        </div>
      </div>
      <div class="col-4">
        <div class="dropdown float-right">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <br />

    <div class="row">
      <!--card group start-->
      <div class="card-deck">
        <div class="card">
          <!-- <img src="./../assets/sample.jpg" class="card-img-top" alt="..." /> -->
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <hr />
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu
              sem tempor.
            </p>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-3">
                <button type="button" class="btn btn-primary btn-circle btn-sm">
                  Blue
                </button>
              </div>
              <div class="col-9">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <!-- <img src="./../assets/sample.jpg" class="card-img-top" alt="..." /> -->
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <hr />
            <p class="card-text">
              Vestibulum id metus ac nisl bibendum nibh scelerisque non purus in
              suspendisse.
            </p>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-3">
                <button type="button" class="btn btn-primary btn-circle btn-sm">
                  Blue
                </button>
              </div>
              <div class="col-9">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- card group end-->
    </div>
    <br />
    <div class="row">
      <div class="card-deck">
        <div class="card">
          <!-- <img src="./../assets/sample.jpg" class="card-img-top" alt="..." /> -->
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <hr />
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu
              sem tempor.
            </p>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-3">
                <button type="button" class="btn btn-primary btn-circle btn-sm">
                  Blue
                </button>
              </div>
              <div class="col-9">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <!-- <img src="./../assets/sample.jpg" class="card-img-top" alt="..." /> -->
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <hr />
            <p class="card-text">
              Vestibulum id metus ac nisl bibendum nibh scelerisque non purus in
              suspendisse.
            </p>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-3">
                <button type="button" class="btn btn-primary btn-circle btn-sm">
                  Blue
                </button>
              </div>
              <div class="col-9">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
